@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply w-full h-screen text-[#ffffff] bg-black scrollbar-hide overflow-x-hidden 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply list-none cursor-pointer
  }


  button {
    @apply z-50 shadow-xl shadow-[#343a40] rounded-md uppercase text-white font-semibold px-7 py-4 border-0
  }

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}