@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply w-full h-screen text-[#ffffff] bg-black scrollbar-hide overflow-x-hidden 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-light
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  h3 {
    @apply text-2xl sm:text-3xl
  }

  h4 {
    @apply text-xl sm:text-2xl
  }

  h5 {
    @apply text-lg sm:text-xl
  }

  h6 {
    @apply text-sm sm:text-lg
  }

  li {
    @apply list-none cursor-pointer
  }


  button {
    @apply flex items-center shadow-xl shadow-[#343a40] rounded-md uppercase bg-white text-black text-center font-semibold px-7 py-4 border-0
  }

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}