@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply w-full h-screen text-[#ffffff] bg-black   
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply list-none cursor-pointer
  }


  button {
    @apply shadow-xl shadow-[#343a40] rounded-xl uppercase bg-gradient-to-tr from-[#845ec2] from-[#d65db1] from-[#ff6f91] to-[#ff9671] to-[#ffc75f] to-[#f9f871] text-white font-bold px-2 py-2 border-0
  }

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}